.invert {
  border: 0 !important; 
  background: transparent !important;
  box-shadow: unset !important;
  filter: invert(100%);
}

.italic {
  font-style: italic;
}

.list-align--left {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
